@{
    ViewData["Title"] = "Home Page";
}

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <div class="text-center">
        <h2 class="display-4">College Team OCR Project</h2>
    </div>
    <br />
    <p><b>Objective: </b>To create a web application for the purpose of reading receipt images, using OCR to extract critical information from those images, <br />
    and outputting the result to a web display.</p>
    <br />
    <h4>Details</h4>
    <ul>
        <li><b>FrameWork: </b>Net Core 3.1</li>
        <li><b>OCR: </b>Tesseract 3.3.0</li>
    </ul>
    <br />
    <p><b>Contributors: </b>Ian Farrell, Hunter Thomas, Jared Vascoe, and Derek Howland</p>
</div>