@{
}

<html>
<head>
    <title>Receipt Uploader</title>
</head>
<body>
    <div id="FormDiv" class="center">
        <form method="post" enctype="multipart/form-data" asp-controller="UploadReceipts" asp-action="Post">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload multiple receipts using this form (No PDFs):</p>
                    <input type="file" name="receipts" class="form-control" multiple="multiple" accept=".png,.tif,.tiff,.jpg,.jpeg" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input id="submitButton" type="submit" value="Upload" onclick="showSpinner()">
                </div>
            </div>
        </form>
    </div>

    <div class="center">
        <div id="spinner" style="visibility: hidden" class="text-center">
            <div class="spinner-border text-primary" role="status" style="width: 6rem; height: 6rem">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div class="progress" style="height: 20px; visibility: hidden;" id="progressBar">
        <div id="bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        // Makes Spinner visible and hides form while the controller is loading
        function showSpinner() {
            document.getElementById("spinner").style.visibility = "visible";
            document.getElementById("progressBar").style.visibility = "visible";
            document.getElementById("FormDiv").style.display = "none";
            updateBar();
        }

        // Calls controller Status method to get percentage of receipts processed 
        // and update the progress bar with it, calls itself every 2 seconds
        // to check for updates
        function updateBar() {
            var action = '@Url.Action("Status","UploadReceipts")';
            $.getJSON(action, function (something) {
                $('#bar').css('width', something);
                if (something != "100%") {
                    setTimeout(updateBar, 2000);
                }
            });
        }
    </script>
</body>
</html>