@{
}

<html>
<head>
    <title>Receipt Uploader</title>
</head>
<body>
    <div id="FormDiv" class="center">
        <form method="post" enctype="multipart/form-data" asp-controller="UploadReceipts" asp-action="Post">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload a folder of receipts using this form (No PDFs):</p>
                    <input type="file" name="receipts" class="form-control" accept=".png,.tif,.tiff,.jpg,.jpeg" webkitdirectory directory multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input id="submitButton" type="submit" value="Upload" onclick="showSpinner()">
                </div>
            </div>
        </form>
    </div>

    <div class="center">
        <div id="spinner" style="visibility: hidden" class="text-center">
            <div class="spinner-border text-primary" role="status" style="width: 6rem; height: 6rem">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <!-- I know this shouldn't go here but the site.css file wasn't connecting-->
    <style>
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>

    <script>
        // Makes Spinner visible and hides form while the controller is loading
        function showSpinner() {
            document.getElementById("spinner").style.visibility = "visible";
            document.getElementById("FormDiv").style.display = "none";
        }
    </script>

</body>
</html>