@model PaychexReceiptOCR.Models.Receipt

<html>
<head>
    <title>Receipt Data</title>
</head>
<body>
    <h3>Mean Confidence: @Model.MeanConfidence</h3>
    <br />
    <h3>Raw Text:</h3>
    <br />
    <p>@Model.RawText</p>
    <br />
    <h3>Iterated Text: </h3>
    @foreach (string line in Model.IteratedText)
    {
        <p>@line</p>
    }
</body>
</html>